* {
  margin: 0px;
  padding: 0px;
}

.blurrbg {
  height: 500px;
  /* filter: blur(1px); */
  background-image: url(./assets/images/hills.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.threebx {
  text-align: center;
}

.bx1 {
  /* margin: 10px; */
  height: 280px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
}
/* .bx2 {
  height: 280px;
  width: 100%;
  border: 1px solid black;
}
.bx3 {
  height: 280px;
  width: 100%;
  border: 1px solid black;
} */

.outercircle {
  height: 100px;
  width: 100px;

  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(230, 228, 228);
  border-radius: 50%;
}
.innercircle {
  height: 85px;
  width: 85px;
  background: rgb(16, 157, 175);
  border-radius: 50%;
}
.areachart {
  color: white;
}
.COMMODO {
  background-color: black;
  color: white;
}
.prep {
  font-family: "Roboto", sans-serif;
}

.mollis {
  text-align: left;
  display: flex;
  background-color: white;
}
